<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <p class="def">Author</p>
        <h3 class="name">
           {{site.username}}
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <p><a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a></p>
        <p><a itemprop="github" class="github" href="https://github.com/{{site.github_username}}">github.com/{{site.github_username}}</a></p>
    </div>
</section>
